/*Desktop design*/

* {
    box-sizing: border-box;
}

body {
    background-color: hsl(217, 54%, 11%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
    padding: 0 24px;
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    margin: 0;
    overflow: hidden auto;
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-kerning: none;
    color: #FFFFFF;
}

/*Card*/
#card-component{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 21px 10px;
    color: #FFFFFF;
    max-width: 366px;
    width: 100%;
    overflow: hidden;
    background: hsl(216, 50%, 16%);
    box-shadow: 12px 39px 17px 5px rgb(0 0 0 / 5%), -12px 39px 17px 5px rgb(0 0 0 / 5%);
    border-radius: 12px;
    box-sizing: border-box;

    gap: 8px;
}

/*Main image*/
#pic-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}
#main-pic{
    width: 100%;
    border-radius: 8px;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: hsl(178, 100%, 50%, 30%);
    border-radius: 8px;
}

#pic-container:hover .overlay{
    opacity: 1;
    cursor: pointer;
}

#content{
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-top: 12px;

}

#card-component p {
    margin: 0;
}
/*Title and Description*/
#nft-name{
    font-size: 23px;
    font-weight: 600;
}

#nft-name:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

#nft-description{
    color: hsla(216, 35%, 71%, 1);
    font-weight: lighter;
}

/*NFT INFO*/
#nft-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    width: 100%;

}

#ethereum-info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 5px;

}

#nft-cost{
    color: hsl(178, 100%, 50%);
}

#time{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 5px;
}

#deadline{
    color: hsla(216, 35%, 71%, 1);
}

#line{
    border: 1px solid  hsl(215, 32%, 27%);
    width: 100%;
}

/* Avatar */
#avatar-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 10px 10px 0;
    width: 100%;
    gap: 17px;
}
#avatar{
    width: 33px;
    height: 33px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 25px;
}

#author span:nth-child(1){
    color:  hsla(216, 35%, 71%, 1);
}

#author span:nth-child(2):hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

footer{
    font-size: 15px;
}

a{
    color: #FFFFFF;
}